[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "==3.0.0b6"
python-dotenv = "*"
tortoise-orm = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
bot = "sh -c 'python bot/main.py'"
test = "pytest"
prod = "sh -c 'nohup pipenv run bot &'"
gitup = "sh -c 'git fetch && git pull'"
lock = "sh -c 'pipenv -q requirements > requirements.txt'"
lock-dev = "sh -c 'pipenv -q requirements --dev > requirements-dev.txt'"
dbuild = "sh -c 'pipenv -q run lock && docker compose build'"
dstop = "sh -c 'docker compose stop && docker compose rm -f'"
drun = "sh -c 'pipenv -q run dbuild && docker compose up -d'"
drestart = "sh -c 'pipenv -q run dstop && pipenv -q run drun'"
